<div class="container">
<!-- <h2 [ngClass]="classes">{{message | uppercase}}</h2>
  <h2>{{currentDate | date : 'short'}}</h2>
<h2 [ngStyle]="{'color': color}"> {{getMessage()}}</h2>

<h2>{{isDisabled}}</h2>

<p *ngIf="!isDisabled" >Structural Directive</p> -->
<!--
   <div>
    {{firstName}}
  </div>
  <div>
    {{lastName}}
  </div><div>
    {{age}}
  </div> -->

  <h1>Student Name </h1>
  {{studentName}}
  <button type="button" class="btn btn-primary" (click)="onDetail()">Detail</button>
  <hr/>


<!--
  <ng-content></ng-content> -->

</div>
